
.wrapper-menu{
    background-color: black;
    background:url("../../asset/img/background.jpg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-menu{
 width: 100%;
 background-color: rgba(7, 7, 7, 0.7);
}
.menu-product{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.loading{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.inner-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.custom-search{
	display: flex;
	width: 75%;
	justify-content: center;
	padding: 200px 0px 30px 0px
;
}
.size-search{
	width: 80%;
	display: flex;
	justify-content: center;
}
.sub-search-group{
    display: flex;
    width: 100%;
    padding: 10px;
}
.group-search{
    width: 15%;
}
.search-group {
    display: flex;
}
.input-group-prepend {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
.list-product{
    width: 90%;
    background: black;
    border-radius: 10px;
    padding: 30px 20px;
}
.modal-content{
    background: black;
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-body{
    padding: 30px 30px;
}
.sub-modal-body{
    width: 100%;
    display: flex;
}
.body-left{
    width: 30%;
}
.body-right{
    width: 70%;
}
.choose-price{
    height: 700px;
    width: 100%;
 
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.sub-choose-price{
    width: 100%;
    height: 16%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    background: #1a1a20;
    opacity: 0.8;
    border-radius: 10px;
    color: white;
		word-break: break-word;
}
.left-choose-price{
    padding-left: 20px;
    width: 70%;
}
/* .between-choose-price{
    width: 40%;
font-size: 0.7rem;
padding-left: 20px;
} */
.right-choose-price{
    width: 30%;
}
.footer-choose-price{
    background: #e1192b;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
.sub-footer-choose-price{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.sub-body-left{
    padding: 30px 10px;
}
.list-cart{
    background: #006d75;
 
    padding: 30px 30px;
}
.footer-list-cart{
    width: 100%;
}
.left-footer-list-cart{
    width: 100%;
}
.left-list-cart{
    width: 60%;
    padding-left: 20px;
}
.right-list-cart{
    width: 40%;
}
.top-list-cart{
    padding-left: 60px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
}
.bottom-list-cart{
    width: 100%;
    display: flex;
    padding: 15px;
}
.avata-list-cart{
    width: 60px;
    height: 50px;
}
.button-price{
    display: flex;
}
.cuts-cart{
    padding:0px 0px 5px 0px ;
}
.avata-beast{
    width: 85%;
    height: 170px;
}

.cust-sale{
    background: black;
    color: white;
    width: 700px;
}
.discount{
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}
.discount li{
  font-size: 0.9rem;
height: 40px;
}
.discount li h4{
    font-size: 1.1rem;
}
.total{
    width: 100%;

}
.sub-total{
    display: flex;
 
}
.left-total{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    color: #00eb88;
}
.right-total{
    width: 50%;
    padding-left: 90px;
    color: #00eb88;
}
.pay-price{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 133px;
}
.detair{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;

}
.sub-detair{
    padding: 10px 70px;
}
.detair-img{
    width: 159px;
    height: 159px;
}
.chil-sub-detair{
    padding-top: 30px;
    width: 100%;
    display: flex;
}
.cust-button-fiter{
    background: black;
    width: 90px;
    height: 50px;
}
.top-cust-filter{
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
}
.popoverheader{
    padding: 10px;
}
.popoverbody{
    padding: 10px;
}
.cust-popover-button{
    color: black;
    font-size: 0.9rem;
    text-align: start;
    width: 231px;
}
.cut-reset{
 padding: 15px 0px 0px 20px;
}
.cut-button-reset{
    background:#1a1a20;
    color: white;
    border: 1px solid white;
    height: 35px;
}
.popover{
    z-index: 2;
    background-color: #1a1a20;
    color: white ;
}
.information{
    padding-left: 20px;
}
.style-icon-information{
    display: flex;
    padding: 10px 0px;
}
.style-sub-icon-information{
    padding-right: 15px;
    display: flex;
}
.style-img-product{
width:40px ;
height: 40px;
}
.product{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 100px;
}
.bottom-sub-body-left{
    padding-top: 20px;
}
.pay-cuts{
    display: flex;
    justify-content: flex-end;
}
.popover-header{
    background-color: #1a1a20;
}
.popover-inner{
    width: 268px;
}
.modal-footer{
    padding-right: 50px;
}
.name-pay{
display: flex;
justify-content:space-between;
width: 100%;
}
.cust-name-pay{
    width: 48%;
    display: flex;
    flex-direction: column;
   
}
.cust-information-pay{
    background: url('https://topshare.vn/wp-content/uploads/2021/01/Hinh-nen-dien-thoai-chat-ngau-sieu-doc-7.jpg');
}
.body-list-cart{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.list-cart{
    width: 60%;
}
.right-imformation-pay{
    width:35% ;

}
.sub-right-imformation-pay{
 background: #006d75;
 padding: 20px 10px;
}
.audio-listen{
    width: 90%;
		justify-content: center;
    height: 100px;
    background:rgb(245, 242, 242);
    position: fixed;
    top:86%;
    z-index: 2;
    display: flex;
   align-items: center;
    padding-bottom: 10px;
    border-radius: 5px;
}
.name-singin{
    color: #000;
    padding:10px 0px 0px 5px;
}
.modal-content{
	background-color: white;
}
.left-audio-listen{
    width: 33%;
    display: flex;
    padding-left: 10px;
}
.cust-audio{
    width:50% ;
}
.top-sub-body-left{
	width: 100%;
	display: flex;
    justify-content: center;
}
.show-media{
  	width: 100%;
    display: flex;
    justify-content: center;
}
audio{
    width: 100%;
}
.icon-show{
    width: 20%;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    color: black;
    padding-bottom: 20px;
}  
.name{
	width: 100%;
	display: flex;
	justify-content: center;
}
.sub-audio-listen{
	width: 80%;
	justify-content: center;
	display: flex;
}
.negotiate{
    cursor:pointer;
}
@media (max-width:1200px) {
	.icon-show{
		display: none;
	}
	.left-audio-listen{
		width: 50%;
	}
}
@media (max-width:992px) {
	.group-search{
	 width: 20%;
	}
	.body-left {
    width: 100%;
}
.body-right {
	width: 100%;
}
	.sub-modal-body{
		flex-direction: column;
	}
	.modal-body{
    padding: 5px;
}

}
@media (max-width:768px) {
   .test{
		 display: none;
	 }
	 .group-search{
		display: none;
	 }
	 .size-search {
    width: 100%;
 }
  .icon-show{
	display: none;
 }
  .sub-body-youtube {
    width: 90%;
}
.sub-home-body-youtube {
	background: #1a1a1a;
	padding:20px 0px;
	display: flex;
}

   
}
@media (max-width:400px) {
	.list-product {
    width: 100%;
    background: black;
		padding: 5px;
	}
	.left-choose-price{
		padding: 5px;
	}
	.custom-search {
    width: 100%;
}
}

 