.cust-support{  
    width: 50px;
    height: 30px;
    color: yellowgreen;
}
.mess{
    width: 370px;
    height:  370px;
    background: #fff;
    border-radius: 10px;

}
.title-mess{
    border-radius: 10px;
    padding: 30px 30px;
    color: rgb(56, 120, 97);
    background: linear-gradient(
        135deg
        , rgb(171, 236, 214) 0%, rgb(251, 237, 150) 100%);
}
.sub-title-mess{
    background: #fff;
    padding-bottom: 20px;
}