.wrapper{
    background: #000;
}
.container{
    color: #dedede;
    
}
.body-BuyBeast{
    border:1px solid #2A2A2A;
    border-radius: 5px;
}
.sub-body-BuyBeast{
    padding: 30px 30px;
}
.progress-left{
    width: 50%;
    height: 20px;
    background: #007bff;
}
.progress-right{
    width: 50%;
    height: 20px;
    background: white
}
.sub-progress{

   font-size: 12px;
}
.check-box{
     height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}