.wrapper{
    background: #000;
}
.container{
    color: #dedede;
}
.body-contact{
    border:1px solid #2A2A2A;
    border-radius: 5px;
}
.sub-body-contact{
    padding: 50px 50px;
}
.custom .form-control{
    height: 50px;
    background: #2A2A2A;
    color: #FFF;
}
.custom-example .form-control{
    background: #2A2A2A;
    height: 200px;
}
