.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#logo-home{
    cursor: pointer;
    width: 30%;
    padding:  0px 0px 20px 30px;
}
.reload{
    cursor: pointer;   
    color: white;
}
ul {
    list-style: none;
}
.nav-link{
    font-family:"THAIBEATS", Sans-serif;;
    color: white;
    font-size: 12px;
}
.item{
    width: 60%;
    text-align: center;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: #070707 !important  ;
    height: 80px;
    z-index: 4;  
  
}
.text-size{
    color: white ;
    font-size: 1rem;
}
.left-top-navbar{
    width: 60%;
    justify-content: space-between;
}
.top-list{
    border-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding: 15px 0;
}
.count-cart{
	background: black;
}
.dropdown-menu{
    background: rgb(6, 14, 36);
}
.dropdown-item{
    color: white;
}
.body-topmenu{
    padding-bottom: 20px;
}
.cust-count{
    display: flex;
   color: #fadb14;
}
.logo-login{
	color: white;
}
.cus-dropdown-checkout-item{
display: flex;
width: 100%;
padding: 10px 10px;
}
.count{

    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    position: absolute;
    color: white;
}
.buton-person-user{
    position: relative;
    display: inline-block;
}
.dropdown-out{
    background: white;
    display: none;
    position: absolute;
}
.sub-dropdown-out{
    padding: 10px 10px
}	
.ant-collapse{
    background: black;
    border: 0px;
    border-bottom: 0px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    padding: 0px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.5715;
    cursor: pointer;
    transition: all 0.3s, visibility 0s;
}
.buton-person-user:hover .dropdown-out{
    display:block;
}
.nav-item .dropdown:hover li a{
	color: black;
}
.left{
    width: 30%;
}
.right{
    width: 70%;
}
.cus-dropdown-checkout{
    width: 100%;
    display: flex;
    cursor: pointer;
}
.cus-dropdown-checkout:hover{
    background: #e3e0cc;
}
.solid-topmenu{
    height: 85px;
    color: black;
}
.ant-collapse > .ant-collapse-item {
border-bottom: 0px;
}
.ant-collapse-content.ant-collapse-content-active{
    position: absolute;
    right: 20px;
    top: 71%;
    width: 180px;
    border-radius: 10px;
}
@media (max-width:992px) {
    .navbar-expand-lg {
        background: white;    
    }
    .text-size{
        color:tomato;
    }
    .custom-dropdown{
        background: white;
        font-weight: 600;   
    }
		.count-cart{
			background: white;
		}
		.cust-count{
			color: tomato;
		}
		.count{
			background: red;
		}
		.logo-login{
			color: tomato;
		}
		.color-signout{
			color: tomato;
			font-weight: 900;
		}
  .navbar-light{
		background:black;
	}   
	.color-responsive{
		background:#0080FF;
	}
	.checkout-topmenu{
		padding: 15px 0px;
	}
	.solid-topmenu{
		border:0px;
	}
	.color-dropdown-menu{
		background: gray;
	}
	
}
