.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#logo-home{
    cursor: pointer;
    width: 30%;
    padding:  0px 0px 20px 30px;
}
.reload{
    cursor: pointer;   
    color: white;
}
ul {
    list-style: none;
}
.nav-link{
    font-family:"THAIBEATS", Sans-serif;;
    color: white;
    font-size: 12px;
}
.item{
    width: 60%;
    text-align: center;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: #070707;
    height: 70px;
    z-index: 4;  
  
}
.text-size{
    font-size: 1rem;
}
.top-list{
    border-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding: 15px 0;
}
.dropdown-menu{
    background: rgb(6, 14, 36);
}
.dropdown-item{
    color: white;
}
.body-topmenu{
    padding-bottom: 20px;
}
.cust-count{
    
    display: flex;
   color: #fadb14;
}
.count{
    /* top: 18px;
    right: 202px; */
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    position: absolute;
    color: white;
}
.buton-person-user{
    position: relative;
    display: inline-block;
}
.dropdown-out{
    display: none;
    position: absolute;
}
.buton-person-user:hover .dropdown-out{
    display:block;
}
