.login-wapper{
    width: 525px;
    height: auto;
    padding: 150px 0px 50px 0px;
}
.Login{
    background: black;
}
.body-signup{
    width: 100%;
    background: url("https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg") no-repeat;
}
.sub-signup{
    padding: 50px 50px;
    background: rgba(40,57,101,.9);
  
}
.cust-login{
    height: 50px;
    border-radius: 25px;
}
.cust-submit-login{
    width: 100%;
    height: 50px;
    border-radius: 25px;
}
.footer-signup{
    text-align: center;
}