.wrapper{
    color:white;
}
.title{
    text-align: center;
}
.top-title{
    font-family: "THAIBEATS", Sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 100px 0 20px 0;
}
.bottom-title{
    font-family: "Poppins", Sans-serif;
    font-size: 1.2em;

}
.sub-item{
	width: 50%;
}
.menu-list-item{
	width: 40%;
	display: flex;
	text-align: center;
}
.list-item{
    width: 100%;
    display: flex;
}
.sub-item1{
	width: 20%;
	display: flex;
  justify-content: center;
	text-align: center;
}
.sub-item{
    width: 50%;
    display: flex;
    justify-content: center;
		word-break: break-all;
	
}
.sub-item-list{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid #2A2A2A;
    border-radius: 10px;
    align-items: center;
}
.price{
    font-family: "Poppins", Sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color:#f4c82a;
}
.footer-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}
.sub-footer-item{
    width: 30%;
		
}
.children-footer{
    padding: 30px 30px;
		border: 1px solid #2A2A2A;
    border-radius: 10px;
    height: 300px;
}
.bg-item{
    background: rgb(135, 204, 171);
}
.sub-title{
    text-align: center;
}
h5{
    font-size: 1rem;
}
.styletitle{
    padding-top: 30px;
}
.text-custom{
    font-family: Poppins;
    display: flex;
    justify-content: center;
    padding: 20px 0px
}
.video-content{
    padding: 50px 0px 50px 0px;
}
@media (max-width:992px) {
    .sub-item1{
      display: none;
    }
		.menu-list-item{
			width:100% ;
			padding:10px
		}
    .list-item{
			flex-direction: column;
    }
}
@media (max-width:768px) {
   .footer-item{
       flex-direction: column;
   }
   .sub-footer-item {
    width: 80%;
		padding: 15px;
  }
}

